*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.aab
/app/release
/app/build
# Keep prebuilt APKs under releases/ tracked
!releases/*.apk
